<!-- å½’æ¡£é¡µé¢ -->
<div class="mt-25">
  <div class="mt-25">
    <%- partial('_partial/ytitle',  {title: 'Yukiã®é­”æ³•æ¡£æ¡ˆ',subtitle:'çˆ†è£‚å§ çŽ°å®ž ç²‰ç¢Žå§ ç²¾ç¥ž æ”¾é€è¿™ä¸ªä¸–ç•Œ!'}) %>
  </div>
</div>

<div class="archive pd-5">
  <% var lastyear;%>
  <% page.posts.each(function (post) { %>
      
      <% if(lastyear != date(post.date, "YYYY-MM")) { %>
        <%if(lastyear != undefined) {%>
          </ul>
        <%}%>
        <h3 class="animated flipInX"><span>ðŸ¥• </span>DATE: <%= date(post.date, "YYYY-MM")%> </h3>
        <% lastyear = date(post.date, "YYYY-MM")%>
        <ul class="archive-con">
      <% } %>

        <li class="animated flipInX">
          <div>
            <a class="archive-title text" href="<%- url_for(post.path) %>"><%= post.title %></a>
            <span class="archive-date"><%= date(post.date, "YYYY-MM-DD") %></span>
          </div>
        </li>
  <% }) %>
</div>

