<!-- jumb -->
<%- partial('_partial/jumbotron')%>
<!-- jumb -->
<div class="">
  <% for(name in theme.indexConfig) {%>
    <div class="mt-15 mb-15">
      <%- partial('_partial/ytitle',  {title: theme.indexConfig[name].title,subtitle:theme.indexConfig[name].subtitle}) %>
    </div>
    <div class="wall cf pdl-8 pdr-8"> 
      <% page.posts.each(function(item) { %>
          <% if (item.field == theme.indexConfig[name].field) {%>
              <a class="article text" href="<%-item.path %>"> 
                <div class="animated flipInX">
                  <img src="<%- item.cover%>" />
                  <h2> <%= item.field %> | aaa |<%= item.title%> | <%= item.desc %></h2>
                </div>
              </a>
          <% } %>
      <% }) %>
    </div> 
  <% }%> 
</div>




