<!DOCTYPE html>
<html>
    <%- partial('_partial/head')%>
    <body>
        <!-- 顶部导航 -->
        <%- partial('_partial/header')%>
        <!-- jumbotron -->
        <%- partial('_partial/jumbotron')%>
        <!-- index页面 -->
        <main class="main">
            <%- body%>
        </main>

        <!-- 底部fotter -->
        <%- partial('_partial/footer')%>
    </body>
</html>