<!DOCTYPE html>
<html>
    <!-- head -->
    <%- partial('_partial/head')%>
    <body style="">
       <!-- 头部导航栏 -->
        <!-- if(page.path == 'index.html') -->
        <%- partial('_partial/header')%>
        <main class="main">
            <%- body %>
        </main>
        
        <!-- left -->
        <div id="mask"></div>
        <%- partial('_partial/mobile')%>
        <!-- footer -->
        <%- partial('_partial/footer')%>
        <!-- foot -->
        <%- partial('_partial/foot')%>
    </body>
</html>