<!DOCTYPE html>
<html>
    <!-- head -->
    <%- partial('_partial/head')%>
    <body>
       <!-- header -->
        <%if(page.path == 'index.html'){%>
            <%- partial('_partial/header',{headerClass: 'yuki-header-trans'})%>
        <%}%>
        <%if(page.path != 'index.html'){%>
            <%- partial('_partial/header',{headerClass: 'yuki-header-no-trans'})%>
        <%}%> 
        <!-- index -->
        <main class="main">
            <%- body %>
        </main>
        <!-- footer -->
        <%- partial('_partial/footer')%>
        <!-- foot -->
        <%- partial('_partial/foot')%>
    </body>
</html>