<div class="yuki-think">

    <div class="mt-25 mb-5">
        <%- partial('_partial/ytitle',  {title: 'Yukiã®éšæƒ³å½•',subtitle:'çˆ†è£‚å§ çŽ°å®ž ç²‰ç¢Žå§ ç²¾ç¥ž æ”¾é€è¿™ä¸ªä¸–ç•Œ!'}) %>
    </div>

     <% site.posts.each(function(item) { %>
        <% if (item.field == 'think') {%>
            <div class="think-item mt-10 animated flipInX">
                <h3><a href="<%- url_for(item.path)%>"><%= item.title%></a></h3>
                <p><%= item.desc %>...</p>
                <p>
                    <span><abbr>ðŸ¤£</abbr><%= date(item.date, 'YYYY-MM') %></span>
                    <span><abbr>ðŸ˜„</abbr><%= item.about  %></span>
                </p>
            </div>
        <% } %>
    <% }) %> 
</div>