<div class="yuki-carousel">
    <div class="yuki-carousel-center">
        <div class="carousel-title">
            <%= carT %>
        </div>
        <div class="carousel-subtitle">
            <%= carST %>
            
        </div>
        <div class="carousel" id="<%- carId %>">
            <ul class="carousel-ul">
                <% page.posts.each(function(post){ %>
                    <% if(post.field == carF){%>
                        <li class="carousel-li">
                            <a href="<%- url_for(post.path)%>">
                                <div class="img-box" style="background-image: url(<%- post.cover%>)">
                                </div>
                                <h6><span>" <%= post.title%> "</span></h6>
                            </a>
                        </li>
                    <% }%> 
                    <%})%>
           
            </ul>
        </div>
    </div>
</div>