<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <title><%= config.title %></title>
    <%- css('plugins/animate/animate.css')%>
    <%- css('css/csshake.css')%>
    <%- css('css/nprogress.css')%>
    <%- css('css/style.css')%>
    <%- css('plugins/strawberry/style.css')%>
    <%- css('plugins/font-awesome/css/font-awesome.min.css')%>
    <%- css('plugins/swiper/swiper.min.css')%>
    <!-- share-js -->
    <%- css('plugins/sharejs/css/share.min.css') %>
    <%- js('plugins/sharejs/js/social-share.min.js') %>
    <!-- valine -->
    <%- js('plugins/valine/Valine.min.js')%>
    <!-- tocbot -->
    <%- css('plugins/tocbot/tocbot.css')%>
    
    <%- js('plugins/tocbot/tocbot.min.js')%>

    

    
  
    
    <%- js('js/nprogress.js')%>
    <%- js('plugins/easy-type/index.js')%>
    <%- js('plugins/swiper/swiper.min.js')%>
    <%- js('plugins/headroom/headroom.js')%>


  
     <script>
        NProgress.configure({ease:'ease-in-out',speed:300});
        window.onload = function(){
            NProgress.start(); 
            NProgress.done();
        }

        var yukiLength = 15;
        console.log(yukiLength);
    </script> 
</head>