<!-- header -->
<header class="yuki-header wa animated rubberBand">
    <!-- menu-togo -->
    <div id="header-toggle" class="header-toggle">
        <a class="cor333"><i class="czs-menu-l"></i></a>
    </div>
    <!-- header-logo -->
    <a href="/" class="text fl header-logo shake-little shake-constant">
        <div class="shake shake-freeze shake-slow">
            <span>進撃</span>
            <span class="shake shake-freeze shake-horizontal">の</span>
            <span>yuki</span> 
        </div>
        <div>
            心臓を捧げよ!
        </div>
    </a>
    <!-- header-nav -->
    <div class="fr header-nav">
        <ul>
            <% for(name in theme.menu) {%>
            <li class="fl nav-item">
                <a href="<%- url_for(theme.menu[name].path) %>" class="text shake shake-slow shake-freeze">
                    <i class="<%- theme.menu[name].icon%>"></i>
                    <%= name %>
                </a>
            <% if (theme.menu[name].submenu != null){%>
                <ul class="sub-nav animated rubberBand">
                    
                    <% for(subName in theme.menu[name].submenu){%>
                        <li class="sub-nav-item">
                            <a href="<%- url_for(theme.menu[name].submenu[subName].path) %>" class="text">
                                <i class="<%- theme.menu[name].submenu[subName].icon%>"></i>
                                <%= subName %>
                            </a> 
                        </li>
                    <% }%>
                </ul>
            <% }%>
            </li>
            <% } %>
        </ul>
    </div>
</header>